# Problem Set 2
This problem set is based on lectures 4,5 and 6. For a complete list of topics please 
consult page 2 of the course syllabus. Please consult the ‚ÄúInstructions for Problem 
Set Submissions‚Äù document under course information before submitting your 
assignment

# Question 1
Consider the following Python module:

In [9]:
 a = 0 
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()
b()
b()
a

6

# 1st step:
i> a is declared to be 0.
ii> function b is defined without any parameter.
a> In function b the variable a is declared globally(which means its value is available outside the function as well.
b> The value of a is the return value of function c with parameter a.
iii> function c is defined with parameter a and the function returns a+2 as value.
                                                        
2nd step:b() 
i. function b is called so the execution goes inside function b,variable a becomes global and for its value it calls the 
function c with a as argument where a = 0.
ii. function c returns a+2 i.e 2(since a =0 here)
iii. The execution is back to function b and now the value of a become 2.

3rd step:b()
i. function b is called so the execution goes inside function b,variable a = 2 (from the previos execution i.e 2nd step)
and it calls the function c with a as argument where a = 2.
ii. function c returns a+2 i.e 4(since a =2 here)
iii. The execution is back to function b and now the value of a become 4.
                                    
4th step:b()
i. function b is called so the execution goes inside function b,variable a = 4 (from the previos execution i.e 3nd step)
and it calls the function c with a as argument where a = 4.
ii. function c returns a+2 i.e 6(since a =4 here)
iii. The execution is back to function b and now the value of a become 6.
             
5th step:a
function a is called where the value of a =6 from the previous exections.So the final display is 6 when the last expression 
(a)is  is evaluated.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file

In [13]:
def fileLength(filename):
    try:
        infile = open(filename,'r')
        lineList = len(infile.readlines())
        
        infile.close()
        print('The number of lines in the file is',lineList)
    except IOError:
        # executed only if an IOError exception is raised
        print(f'{filename} not found ')
    
    except:
        # executed if an exception other than IOError or ValueError is raised
        print('Other error.')
#fileLength("C:/Users/Suprim Thapa/data programming/sample3.py")
fileLength("midterm.py")
fileLength("idterm.py")

The number of lines in the file is 19

the number of line in the file is 19 is the output for the file that i used in my system

# Question 3
Write a class named Marsupial that can be used as shown below:

In [16]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch
m= Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Code for Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [25]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
#k.pouch_contents()
print(k.pouch_contents()) 
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
ùë•/2 ùëñùëì ùë• ùëñùë† ùëíùë£ùëíùëõ3ùë•
+1 ùëñùëì ùë• ùëñùë† ùëúùëëùëë
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops

In [32]:
def collatz(x):
    if x == 1:
        print(x)
        return
    elif x % 2 == 0:
        print(x)
        collatz(x // 2)
    else:
        print(x)
        collatz(3 * x + 1)
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [2]:
def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document.Each heading should be indented asfollows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [100]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.heading_level = int(tag[1])
        else:
            self.heading_level = 0

    def handle_data(self, data):
        if self.heading_level:
            print(' ' * (self.heading_level - 1) + data.strip())

In [101]:
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission

 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
HTTP Error 404:

# 8. Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [24]:
import sqlite3
con = sqlite3.connect('weq.db')
cur = con.cursor()
cur.execute("CREATE TABLE DB2 (City text, Country text, Season text, Temperature float, Rainfall float)")
cur.execute("INSERT INTO  DB2 VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO  DB2 VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO  DB2 VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO  DB2 VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO  DB2 VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO  DB2 VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO  DB2 VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO  DB2 VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO  DB2 VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO  DB2 VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO  DB2 VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO  DB2 VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [26]:
cur.execute('SELECT * FROM DB2')
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [31]:
# 1.a All temperature data
cur.execute('SELECT Temperature FROM DB2')

for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [35]:
# 1.b All cities but without repetition
cur.execute('SELECT DISTINCT City FROM DB2')
print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

In [41]:
#1.c All the records for India
cur.execute("SELECT * FROM DB2 WHERE Country= 'India' ")

for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [42]:
# 1.d ALL the Fall records
cur.execute("SELECT * FROM DB2 WHERE Season= 'Fall' ")

for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [46]:
# 1.e  The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute('SELECT City, Country, Season FROM DB2 WHERE Rainfall<400 AND Rainfall>200')

for record in cur:
    print(record)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [52]:
# 1.f The city and country for which the average Fall temperature is above 20 
# degrees, in increasing temperature order
cur.execute('SELECT City, Country FROM DB2 WHERE Temperature>20 AND Season ="Fall" ORDER BY Temperature ASC')

for record in cur:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [60]:
# 1.g The total annual rainfall for Cairo
cur.execute('SELECT SUM (Rainfall) AS Cairo_Rainfall FROM DB2 WHERE City ="Cairo" ')

for record in cur:
    print(record)

(27.6,)

In [59]:
# 1.h The total rainfall for each season
cur.execute('SELECT Season, SUM (Rainfall) AS Total_Rainfall FROM DB2  GROUP BY Season')

for record in cur:
    print(record)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists

In [65]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

In [67]:
# a.
words_uppercase = [word.upper() for word in words]

# Print the result
print(words_uppercase)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [69]:
# b.
words_lowercase = [word.lower() for word in words]


print(words_lowercase)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [70]:
word_lengths = [len(word) for word in words]


print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [71]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]

# Print the result
print(word_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [73]:
words_4ormore = [word for word in words if len(word) >= 4]


print(words_4ormore)

['quick', 'brown', 'jumps', 'over', 'lazy']